<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
</head>

<body>
    <div class="app header-default side-nav-dark">
        <div class="layout">

            <div class="page-container">

                <div class="main-content">
                    <div class="container-fluid">

                        <div class="breadcrumb-wrapper row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <h4 class="page-title">Buttons</h4>
                            </div>
                            <div class="col-12 col-lg-9 col-md-6">
                                <ol class="breadcrumb float-right">
                                    <li><a href="index.html">UI Elements</a></li>
                                    <li class="active"> / Buttons</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <div class="container-fluid">
                        <div class="row main-button">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Default Buttons</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">Add class <code>.btn-default-{color}</code> for Default
                                            buttons</p>
                                        <div class="m-t-20">
                                            <button type="button" class="btn btn-common">Default</button>
                                            <button type="button" class="btn btn-primary">Primary</button>
                                            <button type="button" class="btn btn-secondary">Secondary</button>
                                            <button type="button" class="btn btn-success">Success</button>
                                            <button type="button" class="btn btn-danger">Danger</button>
                                            <button type="button" class="btn btn-warning">Warning</button>
                                            <button type="button" class="btn btn-info">Info</button>
                                            <button type="button" class="btn btn-dark">Dark</button>
                                            <button type="button" class="btn btn-link">Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Rounded buttons</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">Add class <code>.btn-rounded</code></p>
                                        <div class="m-t-20">
                                            <button type="button" class="btn btn-primary btn-rounded">Primary</button>
                                            <button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
                                            <button type="button" class="btn btn-success btn-rounded">Success</button>
                                            <button type="button" class="btn btn-danger btn-rounded">Danger</button>
                                            <button type="button" class="btn btn-warning btn-rounded">Warning</button>
                                            <button type="button" class="btn btn-info btn-rounded">Info</button>
                                            <button type="button" class="btn btn-light btn-rounded">Light</button>
                                            <button type="button" class="btn btn-dark btn-rounded">Dark</button>
                                            <button type="button" class="btn btn-link btn-rounded">Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Outlined buttons</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">Add class <code>.btn-outline-{color}</code> for outline
                                            buttons</p>
                                        <div class="m-t-20">
                                            <button type="button" class="btn btn-outline-primary">Primary</button>
                                            <button type="button" class="btn btn-outline-secondary">Secondary</button>
                                            <button type="button" class="btn btn-outline-success">Success</button>
                                            <button type="button" class="btn btn-outline-danger">Danger</button>
                                            <button type="button" class="btn btn-outline-warning">Warning</button>
                                            <button type="button" class="btn btn-outline-info">Info</button>
                                            <button type="button" class="btn btn-outline-light">Light</button>
                                            <button type="button" class="btn btn-outline-dark">Dark</button>
                                            <button type="button" class="btn btn-link">Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Button Bordered Rounded</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">Add class <code>.btn-{color}</code> for buttons in theme
                                            colors</p>
                                        <div class="m-t-20">
                                            <button type="button" class="btn btn-outline-primary btn-rounded">Primary</button>
                                            <button type="button" class="btn btn-outline-secondary btn-rounded">Secondary</button>
                                            <button type="button" class="btn btn-outline-success btn-rounded">Success</button>
                                            <button type="button" class="btn btn-outline-danger btn-rounded">Danger</button>
                                            <button type="button" class="btn btn-outline-warning btn-rounded">Warning</button>
                                            <button type="button" class="btn btn-outline-info btn-rounded">Info</button>
                                            <button type="button" class="btn btn-outline-light btn-rounded">Light</button>
                                            <button type="button" class="btn btn-outline-dark btn-rounded">Dark</button>
                                            <button type="button" class="btn btn-link">Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Inverse buttons</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">Add class <code>.btn-inverse-{color} for inverse buttons</code></p>
                                        <div class="m-t-20">
                                            <button type="button" class="btn btn-inverse-primary">Primary</button>
                                            <button type="button" class="btn btn-inverse-secondary">Secondary</button>
                                            <button type="button" class="btn btn-inverse-success">Success</button>
                                            <button type="button" class="btn btn-inverse-danger">Danger</button>
                                            <button type="button" class="btn btn-inverse-warning">Warning</button>
                                            <button type="button" class="btn btn-inverse-info">Info</button>
                                            <button type="button" class="btn btn-inverse-light">Light</button>
                                            <button type="button" class="btn btn-inverse-dark">Dark</button>
                                            <button type="button" class="btn btn-link">Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Normal buttons</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">Use any of the available button classes to quickly create
                                            a styled button.</p>
                                        <div class="m-t-20">
                                            <button type="button" class="btn btn-common">Default</button>
                                            <button type="button" class="btn btn-primary">Primary</button>
                                            <button type="button" class="btn btn-secondary">Secondary</button>
                                            <button type="button" class="btn btn-success">Success</button>
                                            <button type="button" class="btn btn-danger">Danger</button>
                                            <button type="button" class="btn btn-warning">Warning</button>
                                            <button type="button" class="btn btn-info">Info</button>
                                            <button type="button" class="btn btn-dark">Dark</button>
                                            <button type="button" class="btn btn-link">Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2018 <b class="text-dark">UIdeck</b>. All Right Reserved More Templates <a
                                    href="http://www.scnoob.com">菜鸟素材</a> - Collect from <a href="http://www.scnoob.com/moban">网页模板</a></span>

                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>

    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>


    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.app.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>