<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
</head>

<body>
    <div class="app header-default side-nav-dark">
        <div class="layout">

            <div class="page-container">

                <div class="main-content">
                    <div class="container-fluid">

                        <div class="breadcrumb-wrapper row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <h4 class="page-title">List</h4>
                            </div>
                            <div class="col-12 col-lg-9 col-md-6">
                                <ol class="breadcrumb float-right">
                                    <li><a href="index.html">UI Elements</a></li>
                                    <li class="active"> / Lists</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title">Basic List Style</h4>
                            </div>
                            <div class="card-body">
                                <p>Applied <code>.list</code> class to <code>ul</code> tag to display better list alignment.</p>
                                <div class="row m-v-15">
                                    <div class="col-md-3">
                                        <h5 class="card-title">List Unordered</h5>
                                        <ul class="list">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">List Ordered</h5>
                                        <ol class="list">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ol>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">List Unstyled</h5>
                                        <ul class="list list-unstyled">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title">List with Icons</h4>
                            </div>
                            <div class="card-body">
                                <p>Use bullet type classes along with <code>.list</code> to customize list bullet, e.g <code>.tick</code>.</p>
                                <div class="row m-v-15">
                                    <div class="col-md-3">
                                        <h5 class="card-title">Tick</h5>
                                        <ul class="list tick">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Dash</h5>
                                        <ul class="list dash">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Star</h5>
                                        <ul class="list star">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Bullet</h5>
                                        <ul class="list bullet">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row m-t-15">
                                    <div class="col-md-3">
                                        <h5 class="card-title">Arrow</h5>
                                        <ul class="list arrow">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Decimal</h5>
                                        <ul class="list decimal">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Upper Roman</h5>
                                        <ul class="list upper-roman">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Lower Alpha</h5>
                                        <ul class="list lower-alpha">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row m-t-15">
                                    <div class="col-md-12 m-t-15">
                                        <p>Use <code>.bullet-*</code> as prefix with contextual color to applied color to
                                            bullet, e.g <code>.bullet-primary</code></p>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Bullet Primary</h5>
                                        <ul class="list tick bullet-primary">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="card-title">Bullet Warning</h5>
                                        <ul class="list star bullet-warning">
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Consectetur adipiscing elit</li>
                                            <li>Integer molestie lorem at massa</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h4 class="card-title">List Group</h4>
                            </div>
                            <div class="card-body">
                                <div class="row m-t-15">
                                    <div class="col-md-4">
                                        <h5 class="m-t-15">Basic Example</h5>
                                        <ul class="list-group">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="m-t-15">With Links</h5>
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <i class="mdi mdi-check m-r-10 text-success"></i>Cras justo odio
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <i class="mdi mdi-check m-r-10 text-success"></i>Dapibus ac facilisis in
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <i class="mdi mdi-check m-r-10 text-success"></i>Morbi leo risus
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <i class="mdi mdi-check m-r-10 text-success"></i>Porta ac consectetur ac
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action disabled">
                                                <i class="mdi mdi-check m-r-10 text-success"></i> Vestibulum at eros
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="m-t-15">With badges</h5>
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Cras justo odio
                                                <span class="badge badge-primary badge-pill">14</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Dapibus ac facilisis in
                                                <span class="badge badge-primary badge-pill">2</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Morbi leo risus
                                                <span class="badge badge-warning badge-pill">1</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Porta ac consectetur ac
                                                <span class="badge badge-success badge-pill">3</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                Vestibulum at eros
                                                <span class="badge badge-info badge-pill">6</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2018 <b class="text-dark">UIdeck</b>. All Right Reserved More Templates <a
                                    href="http://www.scnoob.com">菜鸟素材</a> - Collect from <a href="http://www.scnoob.com/moban">网页模板</a></span>

                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>

    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>


    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.app.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>