
<nav class="navbar-default navbar-side" role="navigation">
    <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu" href="/admin/index"><i class="fa fa-dashboard"></i> 网站仪表盘</a>
            </li>
            <li>
                <a href="/admin/elements"><i class="fa fa-desktop"></i> UI 元素</a>
            </li>
            <li>
                <a href="/admin/chart"><i class="fa fa-bar-chart-o"></i> 图表</a>
            </li>
            <li>
                <a href="/admin/panel"><i class="fa fa-qrcode"></i> 标签和面板</a>
            </li>

            <li>
                <a href="/admin/table"><i class="fa fa-table"></i> 响应表</a>
            </li>
            <li>
                <a href="/admin/form"><i class="fa fa-edit"></i> 表单 </a>
            </li>


            <li>
                <a href="#"><i class="fa fa-sitemap"></i> 下拉列表<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">二级菜单</a>
                    </li>
                    <li>
                        <a href="#">二级菜单</a>
                    </li>
                    <li>
                        <a href="#">二级菜单<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">三级菜单</a>
                            </li>
                            <li>
                                <a href="#">三级菜单</a>
                            </li>
                            <li>
                                <a href="#">三级菜单</a>
                            </li>

                        </ul>

                    </li>
                </ul>
            </li>

        </ul>

    </div>

</nav>