<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>管理中心</title>
    <frameset rows="60,*" framespacing="0" border="0">
        <frame src="/admin/top" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
        <frameset cols="250,*" framespacing="0" border="0" id="frame-body">
            <frame src="/admin/menu" id="menu-frame" name="menu-frame" frameborder="no">
            <frame src="/admin/main" id="main-frame" name="main-frame" frameborder="no">
        </frameset>
    </frameset>
</head>
<body>
</body>
</html>

