<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
   

    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">

    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">

    <link href="/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    
    <link href="/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">

</head>

<body>
    <div class="app header-default side-nav-dark">
        <div class="layout">
                <div class="page-container">

                        <div class="main-content">
                            <div class="container-fluid">
        
                                <div class="breadcrumb-wrapper row">
                                    <div class="col-12 col-lg-3 col-md-6">
                                        <h4 class="page-title">我的个人中心</h4>
                                    </div>
                                  
                                </div>
        
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-xs-12">
                                        <div class="info-box bg-primary">
                                            <div class="icon-box">
                                                <i class="lni-home"></i>
                                            </div>
                                            <div class="info-box-content">
                                                <h4 class="number">1125</h4>
                                                <p class="info-text">总用户数</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-xs-12">
                                        <div class="info-box bg-success">
                                            <div class="icon-box">
                                                <i class="lni-tag"></i>
                                            </div>
                                            <div class="info-box-content">
                                                <h4 class="number">351123</h4>
                                                <p class="info-text">总日志数</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-xs-12">
                                        <div class="info-box bg-info">
                                            <div class="icon-box">
                                                <i class="lni-cart"></i>
                                            </div>
                                            <div class="info-box-content">
                                                <h4 class="number">774</h4>
                                                <p class="info-text">网站今日PV</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-xs-12">
                                        <div class="info-box bg-purple">
                                            <div class="icon-box">
                                                <i class="lni-wallet"></i>
                                            </div>
                                            <div class="info-box-content">
                                                <h4 class="number">1324124250</h4>
                                                <p class="info-text">网站排行</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-xs-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">今日注册用户数</h5>
                                                        <div class="row">
                                                            <div class="col-5 m-t-20">
                                                                <h3 class="text-primary">1223</h3>
                                                                <p class="text-muted">2018-10-09</p>
                                                            </div>
                                                            <div class="col-7">
                                                                <div id="sales1" class="text-right">
                                                                    <div id="morris-bar-example" style="height: 30px"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-xs-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">今日发布日志数</h5>
                                                        <div class="row">
                                                            <div class="col-5  m-t-20">
                                                                <h3 class="text-info">1231231</h3>
                                                                <p class="light_op_text">2018-10-10</p>
                                                            </div>
                                                            <div class="col-7">
                                                                <div id="morris-bar-stacked" style="height: 30px"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="properties">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 class="card-title">网站时间轴</h4>
                                                            <div class="card-toolbar">
                                                                <ul>
                                                                    <li>
                                                                        <a class="text-gray" href="#">
                                                                            <i class="lni-more-alt"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <ul class="list-media">
                                                                <li class="list-item">
                                                                    <div class="client-item">
                                                                        <div class="media-img">
                                                                            <img src="/assets//img/properties/img1.jpg" alt="">
                                                                        </div>
                                                                        <div class="info">
                                                                            <h4 class="title text-semibold"><a href="#">XXXXXXXx发布了日志XXXXXXX</a></h4>
                                                                            <p class="m-0">2018-10-06</p>
                                                                            <div class="float-item">
                                                                                <button class="btn btn-success">查看</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="list-item">
                                                                    <div class="client-item">
                                                                        <div class="media-img">
                                                                            <img src="/assets//img/properties/img2.jpg" alt="">
                                                                        </div>
                                                                        <div class="info">
                                                                            <h4 class="title text-semibold"><a href="#">XXXXXXXx发布了日志XXXXXXX</a></h4>
                                                                            <p class="m-0">2018-10-05</p>
                                                                            <div class="float-item">
                                                                                <button class="btn btn-common">查看</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="list-item">
                                                                    <div class="client-item">
                                                                        <div class="media-img">
                                                                            <img src="/assets//img/properties/img3.jpg" alt="">
                                                                        </div>
                                                                        <div class="info">
                                                                            <h4 class="title text-semibold"><a href="#">XXXXX回复了XXXX的评价</a></h4>
                                                                            <p class="m-0">2018-10-08</p>
                                                                            <div class="float-item">
                                                                                <button class="btn btn-success">查看</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="list-item">
                                                                    <div class="client-item">
                                                                        <div class="media-img">
                                                                            <img src="/assets//img/properties/img4.jpg" alt="">
                                                                        </div>
                                                                        <div class="info">
                                                                            <h4 class="title text-semibold"><a href="#">XXXXX评价了XXX的日志</a></h4>
                                                                            <p class="m-0">2018-10-04</p>
                                                                            <div class="float-item">
                                                                                <button class="btn btn-common">查看</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4 col-xs-12">
                                        <div class="card">
                                            <div class="profile-bg">
                                                <div class="user-profile">
                                                    <figure class="profile-wall-img">
                                                        <img class="img-fluid" src="/assets//img/profile/user-bg.jpg" alt="User Wall">
                                                    </figure>
                                                    <div class="profile-body">
                                                        <figure class="profile-user-avatar">
                                                            <img src="/assets//img/profile/user1.jpg" alt="User Wall">
                                                        </figure>
                                                        <h3 class="profile-user-name m-0">今夕何夕</h3>
                                                        <small class="profile-user-address">中国，四川</small>
                                                    </div>
                                                    <form class="forms-profile">
                                                        <h4 class="text-center">
                                                            添加flag
                                                        </h4>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Full Name*">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email ID*">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number*">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" id="exampleTextarea1" rows="3"></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-common">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header border-bottom">
                                                <h4 class="card-title">我的flag</h4>
                                            </div>
                                            <div class="card-body">
                                        </p>
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="datatable">
                                                    <thead>
                                                        <tr>
                                                            <td class="text-dark text-semibold">ID</td>
                                                            <td class="text-dark text-semibold">开始时间</td>
                                                            <td class="text-dark text-semibold">结束时间</td>
                                                            <td class="text-dark text-semibold">flag内容</td>
                                                            <td class="text-dark text-semibold">状态</td>
                                                            <td class="text-dark text-semibold">操作</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="invoice.html">#ODN84951</a>
                                                            </td>
                                                            <td>2018/07/25</td>
                                                            <td>2018/11/11</td>
                                                            <td>学习使我开心,学习使我快乐</td>
                                                            <td><a href="#" class="badge badge-danger">未完成</a></td>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i
                                                                            class="lni-more-alt"></i></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a class="dropdown-item" href="#"><i class="lni-pencil mr-2 text-muted"></i>修改</a>
                                                                        <a class="dropdown-item" href="#"><i class="lni-trash mr-2 text-muted"></i>删除</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="invoice.html">#ODN84952</a>
                                                            </td>
                                                            <td>2018/07/25</td>
                                                            <td>2018/11/11</td>
                                                            <td>学习使我开心,学习使我快乐</td>
                                                            <td><a href="#" class="badge badge-danger">未完成</a></td>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i
                                                                            class="lni-more-alt"></i></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                            <a class="dropdown-item" href="#"><i class="lni-pencil mr-2 text-muted"></i>修改</a>
                                                                            <a class="dropdown-item" href="#"><i class="lni-trash mr-2 text-muted"></i>删除</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="invoice.html">#ODN84953</a>
                                                            </td>
                                                            <td>2018/07/25</td>
                                                            <td>2018/11/11</td>
                                                            <td>学习使我开心,学习使我快乐</td>
                                                            <td><a href="#" class="badge badge-success">已完成</a></td>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i
                                                                            class="lni-more-alt"></i></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                            <a class="dropdown-item" href="#"><i class="lni-pencil mr-2 text-muted"></i>修改</a>
                                                                            <a class="dropdown-item" href="#"><i class="lni-trash mr-2 text-muted"></i>删除</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="invoice.html">#ODN84954</a>
                                                            </td>
                                                            <td>2018/07/25</td>
                                                            <td>2018/11/11</td>
                                                            <td>学习使我开心,学习使我快乐</td>
                                                            <td><a href="#" class="badge badge-success">已完成</a></td>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i
                                                                            class="lni-more-alt"></i></a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                            <a class="dropdown-item" href="#"><i class="lni-pencil mr-2 text-muted"></i>修改</a>
                                                                            <a class="dropdown-item" href="#"><i class="lni-trash mr-2 text-muted"></i>删除</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
        
        
                        <footer class="content-footer">
                            <div class="footer">
                                <div class="copyright">
                                    <span>Copyright © 2018 <b class="text-dark">UIdeck</b>. All Right Reserved More Templates <a
                                            href="http://www.scnoob.com">菜鸟素材</a> - Collect from <a href="http://www.scnoob.com/moban">网页模板</a></span>
        
                                </div>
                            </div>
                        </footer>
        
                    </div>
        
                </div>
            </div>
        
            <div id="preloader">
                <div class="loader" id="loader-1"></div>
            </div>
        
        
            <script src="/assets//js/jquery-min.js"></script>
            <script src="/assets//js/popper.min.js"></script>
            <script src="/assets//js/bootstrap.min.js"></script>
            <script src="/assets//js/jquery.app.js"></script>
            <script src="/assets//js/main.js"></script>
        
            <script src="/assets//plugins/morris/morris.min.js"></script>
            <script src="/assets//plugins/raphael/raphael-min.js"></script>
            <script src="/assets//js/dashborad2.js"></script>
            <script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    
            <script src="/assets/plugins/datatables/dataTables.buttons.min.js"></script>
            <script src="/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
            <script src="/assets/plugins/datatables/jszip.min.js"></script>
            <script src="/assets/plugins/datatables/pdfmake.min.js"></script>
            <script src="/assets/plugins/datatables/vfs_fonts.js"></script>
            <script src="/assets/plugins/datatables/buttons.html5.min.js"></script>
            <script src="/assets/plugins/datatables/buttons.print.min.js"></script>
            <script src="/assets/plugins/datatables/buttons.colVis.min.js"></script>
    
            <script src="/assets/plugins/datatables/dataTables.responsive.min.js"></script>
            <script src="/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    
            <script src="/assets/js/datatables.init.js"></script>
        </body>
        
        <!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
        
        </html>