<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">

    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- <link rel="stylesheet" type="text/css" href="/assets//css/responsive.css"> -->

    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">
</head>

<body>
    <div class="app header-default side-nav-dark">
        <div class="layout"> <div class="side-nav expand-lg">
                <div class="side-nav-inner">
                    <ul class="side-nav-menu">
                        <li class="side-nav-header">
                            <span>菜单列表</span>
                        </li>
                        <li class="nav-item dropdown open">
                            <a href="/admin/main"  target="main-frame" class="dropdown-toggle">
                                <span class="icon-holder">
                                    <i class="lni-dashboard"></i>
                                </span>
                                <span class="title">仪表盘</span>
                            </a>
                         
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-files"></i>
                                </span>
                                <span class="title">日志模块</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/blog" target="main-frame">日志管理</a>
                                </li>
                                <li>
                                    <a href="/admin/calendar" target="main-frame">分类管理</a>
                                </li>
                                <li>
                                    <a href="/admin/chat_app" target="main-frame">推荐管理</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-cloud"></i>
                                </span>
                                <span class="title">应用</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/email" target="main-frame">电子邮件</a>
                                </li>
                                <li>
                                    <a href="/admin/calendar" target="main-frame">日历</a>
                                </li>
                                <li>
                                    <a href="/admin/chat_app" target="main-frame">聊天应用</a>
                                </li>
                                <li>
                                    <a href="/admin/contact" target="main-frame">联系</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-layers"></i>
                                </span>
                                <span class="title">UI元素</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/alert" target="main-frame">警告</a>
                                </li>
                                <li>
                                    <a href="/admin/badge" target="main-frame">徽章</a>
                                </li>
                                <li>
                                    <a href="/admin/buttons" target="main-frame">按钮</a>
                                </li>
                                <li>
                                    <a href="/admin/cards" target="main-frame">相册</a>
                                </li>
                                <li>
                                    <a href="/admin/lists" target="main-frame">列表</a>
                                </li>
                                <li>
                                    <a href="/admin/typography" target="main-frame">字体</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-timer"></i>
                                </span>
                                <span class="title">组件</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/accordion" target="main-frame">手风琴</a>
                                </li>
                                <li>
                                    <a href="/admin/carousel" target="main-frame">轮播图</a>
                                </li>
                                <li>
                                    <a href="/admin/dropdown" target="main-frame">下拉菜单</a>
                                </li>
                                <li>
                                    <a href="/admin/modals" target="main-frame">模态框</a>
                                </li>
                                <li>
                                    <a href="/admin/notifications" target="main-frame">通知</a>
                                </li>
                                <li>
                                    <a href="/admin/popover" target="main-frame">弹出框</a>
                                </li>
                                <li>
                                    <a href="/admin/slider_progress" target="main-frame">进度条</a>
                                </li>
                                <li>
                                    <a href="/admin/tabs" target="main-frame">标签</a>
                                </li>
                                <li>
                                    <a href="/admin/tooltips" target="main-frame">提示</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-package"></i>
                                </span>
                                <span class="title">Icons</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/line_icons" target="main-frame">Line Icons</a>
                                </li>
                                <li>
                                    <a href="/admin/fontawesome_icons" target="main-frame">Font Awesome</a>
                                </li>
                                <li>
                                    <a href="/admin/material_icons" target="main-frame">Material Design</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-files"></i>
                                </span>
                                <span class="title">表单</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/form_elements" target="main-frame">表单元素</a>
                                </li>
                                <li>
                                    <a href="/admin/form_layouts" target="main-frame">表单布局</a>
                                </li>
                                <li>
                                    <a href="/admin/form_validation" target="main-frame">表格验证</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-control-panel"></i>
                                </span>
                                <span class="title">表</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/basic_table" target="main-frame">基本表</a>
                                </li>
                                <li>
                                    <a href="/admin/data_table" target="main-frame">数据表</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-pie-chart"></i>
                                </span>
                                <span class="title">图表</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/charts_morris" target="main-frame">Marris图表</a>
                                </li>
                                <li>
                                    <a href="/admin/chartjs" target="main-frame">ChartJs</a>
                                </li>
                                <li>
                                    <a href="/admin/charts_flot" target="main-frame">Flot图表</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-map-marker"></i>
                                </span>
                                <span class="title">地图</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/google_map" target="main-frame">谷歌地图</a>
                                </li>
                                <li>
                                    <a href="/admin/vector_map" target="main-frame">矢量地图</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-files"></i>
                                </span>
                                <span class="title">网页</span>
                                <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu sub-down">
                                <li>
                                    <a href="/admin/profile" target="main-frame">Profile</a>
                                </li>
                                <li>
                                    <a href="/admin/invoice" target="main-frame">发票</a>
                                </li>
                                <li>
                                    <a href="/admin/faq" target="main-frame">常见问题</a>
                                </li>
                                <li>
                                    <a href="/admin/login" target="main-frame">登录</a>
                                </li>
                                <li>
                                    <a href="/admin/sign_up" target="main-frame">注册</a>
                                </li>
                                <li>
                                    <a href="/admin/bad" target="main-frame">404</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swlink">Collect from <a href="http://www.scnoob.com/" title="网站模板">网站模板</a></div>

        </div>
    </div>

    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>


    <script src="/assets//js/jquery-min.js"></script>
    <script src="/assets//js/popper.min.js"></script>
    <script src="/assets//js/bootstrap.min.js"></script>
    <script src="/assets//js/jquery.app.js"></script>
    <script src="/assets//js/main.js"></script>

    <script src="/assets//plugins/morris/morris.min.js"></script>
    <script src="/assets//plugins/raphael/raphael-min.js"></script>
    <script src="/assets//js/dashborad2.js"></script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>