   <div class="menu">
      <nav class="nav" id="topnav">
       
        <li><a href="/index/index">网站首页</a> </li>
        <li><a href="/blog/create">发布日志</a> </li>
        <?php foreach($type as $v): ?>
        <li><a href="/blog/getBlog?pid=<?php echo $v['pid'];?>&id=<?php echo $v['id']?>"><?php echo $v['name']; ?></a>
          <ul class="sub-nav">
            
            <?php foreach($types as $v1):?>
            <?php if($v['id'] ==$v1['pid']){?>
            <li><a href="/blog/getBlog?id=<?php echo $v1['id']; ?>"><?php echo $v1['name']?></a></li>
            <?php }?>
            <?php endforeach;?>
          </ul>
        </li>
        <?php endforeach; ?>
        
        <li><a href="/blog/time">时间轴</a> </li>
        <li><a href="/blog/gbook">留言</a> </li>
        <?php if(isset($_SESSION['email'])){ ?>
        <li><a href="/"><?php echo $_SESSION['email'] ?></a></li>
        <li><a href="/user/logout">退出</a></li>
        <?php }else{ ?>
        <li><a href="/user/login">登陆</a></li>
        <li><a href="/user/regist">注册</a></li>
        <?php } ?>
        <!--search begin-->
        <div id="search_bar" class="search_bar">
          <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
            <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="hidden" name="Submit" value="搜索" />
            <span class="search_ico"></span>
          </form>
        </div>
        <!--search end--> 
      </nav>
    </div>
    <script src="/js/conn.js"></script>
    <script src="/js/nav.js"></script>


