<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
</head>

<body>
    <div class="app header-default side-nav-dark">
        <div class="layout">
            <div class="page-container">

                <div class="main-content">
                    <div class="container-fluid">

                        <div class="breadcrumb-wrapper row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <h4 class="page-title">Form Elements</h4>
                            </div>
                            <div class="col-12 col-lg-9 col-md-6">
                                <ol class="breadcrumb float-right">
                                    <li><a href="index.html">Forms</a></li>
                                    <li class="active"> / Form elements</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Default form</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">
                                            Basic form layout
                                        </p>
                                        <form class="forms-sample">
                                            <div class="form-group">
                                                <label for="exampleInputUsername1">Username</label>
                                                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputConfirmPassword1">Confirm Password</label>
                                                <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
                                            </div>
                                            <div class="custom-control custom-checkbox m-b-20">
                                                <input type="checkbox" class="custom-control-input" id="checkbox0" value="check">
                                                <label class="custom-control-label" for="checkbox0">Remember me</label>
                                            </div>
                                            <button type="submit" class="btn btn-common mr-3">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Horizontal Form</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">
                                            Horizontal form layout
                                        </p>
                                        <form class="forms-sample">
                                            <div class="form-group row">
                                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re
                                                    Password</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="custom-control custom-checkbox m-b-20">
                                                <input type="checkbox" class="custom-control-input" id="checkbox1" value="check">
                                                <label class="custom-control-label" for="checkbox1">Remember me</label>
                                            </div>
                                            <button type="submit" class="btn btn-common mr-3">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Basic form elements</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">
                                            Basic form elements
                                        </p>
                                        <form class="forms-sample">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Name</label>
                                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail3">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword4">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleSelectGender">Gender</label>
                                                <select class="form-control" id="exampleSelectGender">
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                </select>t
                                            </div>
                                            <div class="form-group">
                                                <label>File upload</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputCity1">City</label>
                                                <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                                            </div>
                                            <div class="form-group m-b-20">
                                                <label for="exampleTextarea1">Textarea</label>
                                                <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-common mr-3">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Input size</h4>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <p class="card-description">
                                            Add classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>.
                                        </p>
                                        <div class="form-group">
                                            <label>Large input</label>
                                            <input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username">
                                        </div>
                                        <div class="form-group">
                                            <label>Default input</label>
                                            <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                                        </div>
                                        <div class="form-group">
                                            <label>Small input</label>
                                            <input type="text" class="form-control form-control-sm" placeholder="Username" aria-label="Username">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Select size</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">
                                            Add classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>.
                                        </p>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Large select</label>
                                            <select class="form-control form-control-lg" id="exampleFormControlSelect1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect2">Default select</label>
                                            <select class="form-control" id="exampleFormControlSelect2">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect3">Small select</label>
                                            <select class="form-control form-control-sm" id="exampleFormControlSelect3">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Inline forms</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description">
                                            Use the <code>.form-inline</code> class to display a series of labels, form controls,
                                            and buttons on a single horizontal row
                                        </p>
                                        <form class="form-inline">
                                            <label class="sr-only" for="inlineFormInputName2">Name</label>
                                            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
                                            <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                            <div class="input-group mb-2 mr-sm-2">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">@</div>
                                                </div>
                                                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
                                            </div>
                                            <div class="form-check mx-sm-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkbox5" value="check">
                                                    <label class="custom-control-label" for="checkbox5">Remember me</label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-common mb-3">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Horizontal Two column</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-sample">
                                            <p class="card-description">
                                                Personal info
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">First Name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Last Name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Gender</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control">
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                                                        <div class="col-sm-9">
                                                            <input class="form-control" placeholder="dd/mm/yyyy">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Category</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control">
                                                                <option>Category1</option>
                                                                <option>Category2</option>
                                                                <option>Category3</option>
                                                                <option>Category4</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3">Membership</label>
                                                        <div class="col-sm-4">
                                                            <div class="custom-control custom-radio radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="gender" id="male" checked="">
                                                                <label class="custom-control-label" for="male">Free</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <div class="custom-control custom-radio radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input" name="gender" id="gender" checked="">
                                                                <label class="custom-control-label" for="gender">Professional</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="card-description">
                                                Address
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Address 1</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">State</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Address 2</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Postcode</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">City</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Country</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control">
                                                                <option>America</option>
                                                                <option>Italy</option>
                                                                <option>Russia</option>
                                                                <option>Britain</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-common mr-3">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2018 <b class="text-dark">UIdeck</b>. All Right Reserved More Templates <a
                                    href="http://www.scnoob.com">菜鸟素材</a> - Collect from <a href="http://www.scnoob.com/moban">网页模板</a></span>

                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>

    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>


    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.app.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>