<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
</head>

<body>
    <div class="app header-default side-nav-dark">
        <div class="layout">

            <div class="page-container">

                <div class="main-content">
                    <div class="container-fluid">

                        <div class="breadcrumb-wrapper row">
                            <div class="col-12 col-lg-3 col-md-6">
                                <h4 class="page-title">Form Elements</h4>
                            </div>
                            <div class="col-12 col-lg-9 col-md-6">
                                <ol class="breadcrumb float-right">
                                    <li><a href="index.html">Forms</a></li>
                                    <li class="active"> / Form elements</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Registration form layout</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="form-row">
                                                <div class="form-check col-md-12 m-b-20">
                                                    <div class="custom-control custom-radio radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="gender" id="male" checked="">
                                                        <label class="custom-control-label" for="male">Male</label>
                                                    </div>
                                                    <div class="custom-control custom-radio radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="gender" id="gender" checked="">
                                                        <label class="custom-control-label" for="gender">Female</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input type="text" class="form-control" id="firstname">
                                                    <label for="firstname">Firstname</label>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input type="text" class="form-control" id="lastname">
                                                    <label for="lastname">Lastname</label>
                                                </div>
                                                <div class="form-group col-lg-12">
                                                    <input type="text" class="form-control" id="username">
                                                    <label for="username">Username</label>
                                                </div>
                                                <div class="form-group col-lg-12">
                                                    <input type="text" class="form-control" id="email">
                                                    <label for="email">Email</label>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input type="password" class="form-control" id="password">
                                                    <label for="password">Password</label>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input type="password" class="form-control" id="confirmPassword">
                                                    <label for="confirmPassword">Confirm Password</label>
                                                </div>
                                                <div class="form-check col-lg-12">
                                                    <div class="custom-control custom-checkbox m-b-20">
                                                        <input type="checkbox" class="custom-control-input" id="termsConditions">
                                                        <label class="custom-control-label" for="termsConditions">I agree
                                                            to the terms and conditions.</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-12 text-righ">
                                                    <button type="submit" class="btn btn-common">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Registration form layout with floating label</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="form-row">
                                                <div class="form-check col-md-12 m-b-20">
                                                    <div class="custom-control custom-radio radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="gender" id="male1" checked="">
                                                        <label class="custom-control-label" for="male1">Male</label>
                                                    </div>
                                                    <div class="custom-control custom-radio radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" name="gender" id="female1" checked="">
                                                        <label class="custom-control-label" for="female1">Female</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 floating-label">
                                                    <input type="text" class="form-control" id="firstname1">
                                                    <label for="firstname1">Firstname</label>
                                                </div>
                                                <div class="form-group col-lg-6 floating-label">
                                                    <input type="text" class="form-control" id="lastname1">
                                                    <label for="lastname1">Lastname</label>
                                                </div>
                                                <div class="form-group col-lg-12 floating-label">
                                                    <input type="text" class="form-control" id="username1">
                                                    <label for="username1">Username</label>
                                                </div>
                                                <div class="form-group col-lg-12 floating-label">
                                                    <input type="text" class="form-control" id="email1">
                                                    <label for="email1">Email</label>
                                                </div>
                                                <div class="form-group col-lg-6 floating-label">
                                                    <input type="password" class="form-control" id="password1">
                                                    <label for="password1">Password</label>
                                                </div>
                                                <div class="form-group col-lg-6 floating-label">
                                                    <input type="password" class="form-control" id="confirmPassword1">
                                                    <label for="confirmPassword1">Confirm Password</label>
                                                </div>
                                                <div class="form-check col-md-12">
                                                    <div class="custom-control custom-checkbox m-b-20">
                                                        <input type="checkbox" class="custom-control-input" id="weeklyUpdates">
                                                        <label class="custom-control-label" for="weeklyUpdates">Send me weekly
                                                            updates</label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-12 text-righ">
                                                    <button type="submit" class="btn btn-common">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Login form</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="username2">
                                                <label for="username2">Username</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="password2">
                                                <label for="password2">Password</label>
                                            </div>
                                            <div class="custom-control custom-checkbox m-b-20">
                                                <input type="checkbox" class="custom-control-input" id="rememberMe" checked="">
                                                <label class="custom-control-label" for="rememberMe">Remember me</label>
                                            </div>
                                            <button type="submit" class="btn btn-common">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">Login form with floating label</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="form-group floating-label">
                                                <input type="text" class="form-control" id="username3">
                                                <label for="username3">Username</label>
                                            </div>
                                            <div class="form-group floating-label">
                                                <input type="password" class="form-control" id="password3">
                                                <label for="password3">Password</label>
                                            </div>
                                            <div class="custom-control custom-checkbox m-b-20">
                                                <input type="checkbox" class="custom-control-input" id="rememberMe1" checked="">
                                                <label class="custom-control-label" for="rememberMe1">Remember me</label>
                                            </div>
                                            <button type="submit" class="btn btn-common">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2018 <b class="text-dark">UIdeck</b>. All Right Reserved More Templates <a
                                    href="http://www.scnoob.com">菜鸟素材</a> - Collect from <a href="http://www.scnoob.com/moban">网页模板</a></span>

                        </div>
                    </div>
                </footer>

            </div>

        </div>
    </div>

    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>


    <script src="/assets/js/jquery-min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.app.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>